name: Elixir CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-elixir@v1
        with:
          otp-version: 22.2
          elixir-version: 1.10.2
      - run: mix deps.get
      - name: check format
        run: mix format --check-formatted
      - name: Run tests
        run: mix test
